@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    box-sizing: border-box;
    border-radius: 4px;

    
    
}


body {
    font-family: 'Ubuntu',sans-serif;
    background-color: rgb(69, 85, 168);
    border-radius: 5px;


}

.titulo-pagina {
 width: 600px;
 margin:2rem auto;
 text-align:center;
 font-size: 2.2rem;


}
main {
    width: 700px;
    height: 200px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border:1px solid black; /*shorthand para a borda */
    margin:auto;
    background-color:lightskyblue;
    box-shadow: 4px 4px 2px #3d1111;
    border-radius: 4px;

}
.elementos-em-linha{
    display: flex;
    justify-content: space-between;

}

.botoes {
    margin:2rem 0;
    display: flex;
    gap:1rem;
    
}
button{
    width: 100%;
    line-height: 2.2px;
    border:none;
    border: 4px;
    outline:none;
    
}

input {
    width:line;
    border: 1px solid #000000;
    padding-left: 8px;
    margin-top: 8px;
    border-radius: 4px;
    
}

#resultado {
    border: 1px solid black;
    height: 2rem;
    margin: 2rem 0 0 0;
    border-radius: 4px;
    display:flex;
    flex: row; /*estabelece a direção de alinhamento*/
    justify-content: center; /*alinha no eixo principal */
    align-items: center; /*alinha o eixo secundario*/
    box-shadow: 1px;
}

button {
    border:none;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 1px;
    margin-top: 2rem 0 0 0;
}


button:hover{
    cursor: pointer;
}
/*só dura enquanto o mause estiver pressionado no botão */
button:active{
box-shadow: inset 1px 1px 1px #d11111;
}

#btClassificar {
    background-color: #2078ec;
    color:#ffff; 

}
#btClassificar:hover{
    background-color: #2078ec;
    
}
#btClassificar:active{
    background-color: #1d6dd6;
}

#btLimpar {
 background-color: rgb(223, 53, 53);
}

#btLimpar:hover {
background-color: rgb(223, 53, 53);
}

#btLimpar:active {
background-color:#e82375 ;
}

.acao-alternativa {
    background-color: rgb(49, 210, 49);
}

.acao-alternativa:hover {
    background-color: rgb(49, 210, 49);
}
.acao-alternativa:active {
    background-color: rgb(13, 156, 13);
}

.tamanhodafonte {
    background-color: #f4ebea;
    margin-top: 2px;
    padding-block-start:4px ;
    text-align: center;
}