/* Redefinindo alguns estilos padrão do navegador */
/* styles.css */
body {
    background-color:palegoldenrod;
    font-family: Arial, sans-serif;
    margin: 10; 
    padding: 10; 


}

div {
    height: 500px;
    width: 800px;
}
h1 {
    color:burlywood(19, 90, 222);
}body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color:rgb(86, 106, 202);
    color:rgb(19, 43, 116);

   
    padding: 0;
    line-height: 3.0; 
    text-align: center; 
    overflow-x: hidden; 

}body {
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
